body::-webkit-scrollbar {
	width: 10px;			
}
body::-webkit-scrollbar-thumb {
	background: #1976d2;
	border-radius: 3px;
}

button:focus{
	background-color: #aaa;
}

.caja{
	padding-left: 305px;
	margin-top: 20px;
}

.nota{
	font-size: 0.9rem;
}

@media only screen and (max-width : 992px) {
	 .caja {
		padding-left: 0;
	}
	.modal{
		width: 95%;
	}
}

.modal{
	background: white;
	max-height: 80%;
	width: 40%;
}
.modal.modal-fixed-footer{
	height: 80%;
}
.modal-content::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.modal-content::-webkit-scrollbar-thumb {
	background: #8395a7;
	border-radius: 5px;
}
.spanEstado{
	color: white;
	padding: 3px 6px;
	border-radius: 2px;
	font-size: 0.8rem;
	font-weight: 300;
}

.tabs .indicator {
	background-color: #1976d2;
}
.tabs .tab a{
	color: black;
}
.tabs .tab a.active{
	color: #1976d2;
}

.inputMensaje{
	margin-left: 45px;
	color: red;
	font-size: 0.9rem;
	font-weight: 300;
}

.collapsible-body{
	padding: 1rem;
}
.switch label input[type=checkbox]:checked+.lever:after {
	   background-color: #03a9f4;
}
.switch label input[type=checkbox]:checked+.lever {
	   background-color: #b3e5fc;
}